body {
    margin: 0;
    box-sizing: border-box;
}

.bg-black{
    background-color: black;
}

.bg-18191a{
    background-color: #18191a;
}

.bg-242526{
    background-color: #242526;
}

.bg-white{
    background-color: white;
}

.bg-blue{
    background-color: blue;
}

.block{
    display: block;
}

.h-56{
    height: 56px;
}

.w-full{
    width: 100%;
}

.h-full{
    height: 100%;
}
.w-auto{
    width: auto;
}
.w-302{
    width: 302px;
}
.min-height1000{
    min-height: 1000px;
}